[submodule "Frameworks/SQLiteSwift"]
	path = Frameworks/SQLiteSwift
	url = https://github.com/stephencelis/SQLite.swift.git
[submodule "Frameworks/GRDBSwift"]
	path = Frameworks/GRDBSwift
	url = https://github.com/groue/GRDB.swift.git
