//
//  AdaptedBuildSettings.xcconfig
//  MacSunnySender
//
//  Created by Jan Verrept on 7/08/17.
//  Copyright © 2017 OneClick. All rights reserved.
//

// Define a bridging header
SWIFT_INSTALL_OBJC_HEADER = YES
SWIFT_OBJC_BRIDGING_HEADER = "$(PROJECT_NAME)-Bridging-Header.h"

// Incude the source-headers for the otherwise binary dylibs
HEADER_SEARCH_PATHS = "$(SRCROOT)/../../../Third Party Code/YASDI/**"
